ion-header {
    margin-top: 0px;
    background: url('../../assets/imagens/backTrabalhe.jpg') no-repeat;
    height: 30%;
    background-size: cover;
    background-repeat: no-repeat;
}

ion-footer{
  background: black!important;
}


ion-toolbar {
    --background: transparent !important;
    color: white;
    font-size: 10px;
}
  
  ion-buttons img{
    margin-right:10px;
    width: 30px;
    height: auto;
  }
  
  ion-title {
    font-size:13px;
  }
  
  ion-content {
    --ion-background-color:#000;  
  }


  h2 {
    margin-top: 20px;
    font-weight: 100;
    text-align: center;
    color: white;
    font-size: 1em;
  }

  p {
    padding: 0 25px 0 25px;
    font-weight: lighter;
    color: #f9f9f9;
    text-align: justify;
    font-size: 0.8em;
    line-height: 18px;
  }

ion-list{
  max-width: 100%;
  margin:auto;
  margin-top: 0px;
  background: #FFF !important;
}

ion-item {
    --color: #000;
    font-size: 0.7em;
    --background: #FFF !important;
}

.divFormulario{
  position: relative;
  margin: auto;
  width: 90%;
  height: auto;
  padding: 5px;
  background: #FFF !important;
  border-radius: 10px;
  margin-bottom: 25px;
}