<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar color="danger">
          
          <ion-title>            
            Menu IMPACT Shop
          </ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-content>
        <ion-list lines="none">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <!-- ICONES DO IONIC <ion-icon slot="start" [name]="p.icon"></ion-icon> -->
              <!-- ICONES EM PNG --><img width="30px" height="30px" src="{{p.icon}}"/>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>

    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
