<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: red"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <img src="../assets/icon/favicon.png" />
    </ion-buttons>
    <ion-title>            
      IMPACT Shop
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    
    <ion-slides pager="true">

        <ion-slide *ngFor="let slide of slider">
          <ion-img [src]="slide.imagem" style="margin-top:-25px;"></ion-img>
          <p [innerHTML]="slide.descricao" style="font-size: 0.7em; line-height: 20px; width: 80%; font-weight: 100"></p>
          <p [innerHTML]="slide.preco"></p>
        </ion-slide>
    
      </ion-slides>

</ion-content>
